
.DS_Store
Lession4/Readme.md
Lession4/sata1.vdi
Lession4/sata2.vdi
Lession4/sata3.vdi
Lession4/sata4.vdi
Lession4/sata5.vdi
Lession4/sata6.vdi
Lession4/sata7.vdi
Lession4/sata8.vdi
Lession5/.vagrant/machines/nfsc/virtualbox/action_provision
Lession5/.vagrant/machines/nfsc/virtualbox/action_set_name
Lession5/.vagrant/machines/nfsc/virtualbox/box_meta
Lession5/.vagrant/machines/nfsc/virtualbox/creator_uid
Lession5/.vagrant/machines/nfsc/virtualbox/id
Lession5/.vagrant/machines/nfsc/virtualbox/index_uuid
Lession5/.vagrant/machines/nfsc/virtualbox/private_key
Lession5/.vagrant/machines/nfsc/virtualbox/synced_folders
Lession5/.vagrant/machines/nfsc/virtualbox/vagrant_cwd
Lession5/.vagrant/machines/nfss/virtualbox/action_provision
Lession5/.vagrant/machines/nfss/virtualbox/action_set_name
Lession5/.vagrant/machines/nfss/virtualbox/box_meta
Lession5/.vagrant/machines/nfss/virtualbox/creator_uid
Lession5/.vagrant/machines/nfss/virtualbox/id
Lession5/.vagrant/machines/nfss/virtualbox/index_uuid
Lession5/.vagrant/machines/nfss/virtualbox/private_key
Lession5/.vagrant/machines/nfss/virtualbox/synced_folders
Lession5/.vagrant/machines/nfss/virtualbox/vagrant_cwd
Lession5/.vagrant/rgloader/loader.rb
Lession8/.vagrant/machines/bash/virtualbox/action_set_name
Lession8/.vagrant/machines/bash/virtualbox/creator_uid
Lession8/.vagrant/machines/bash/virtualbox/id
Lession8/.vagrant/machines/bash/virtualbox/index_uuid
Lession8/.vagrant/rgloader/loader.rb
Lession8/.vagrant/bundler/global.sol
Lession8/.vagrant/machines/bash/virtualbox/box_meta
Lession8/.vagrant/machines/bash/virtualbox/private_key
Lession8/.vagrant/machines/bash/virtualbox/vagrant_cwd
Lession8/.vagrant/machines/otus/virtualbox/action_provision
Lession8/.vagrant/machines/otus/virtualbox/action_set_name
Lession8/.vagrant/machines/otus/virtualbox/box_meta
Lession8/.vagrant/machines/otus/virtualbox/creator_uid
Lession8/.vagrant/machines/otus/virtualbox/id
Lession8/.vagrant/machines/otus/virtualbox/index_uuid
Lession8/.vagrant/machines/otus/virtualbox/private_key
Lession8/.vagrant/machines/otus/virtualbox/synced_folders
Lession8/.vagrant/machines/otus/virtualbox/vagrant_cwd
Lession8/.vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
*.rb
Lession15/.vagrant/machines/otus/virtualbox/action_provision
Lession15/.vagrant/machines/otus/virtualbox/action_set_name
Lession15/.vagrant/machines/otus/virtualbox/box_meta
Lession15/.vagrant/machines/otus/virtualbox/creator_uid
Lession15/.vagrant/machines/otus/virtualbox/id
Lession15/.vagrant/machines/otus/virtualbox/index_uuid
Lession15/.vagrant/machines/otus/virtualbox/private_key
Lession15/.vagrant/machines/otus/virtualbox/synced_folders
Lession15/.vagrant/machines/otus/virtualbox/action_provision
Lession15/.vagrant/machines/otus/virtualbox/action_set_name
Lession15/.vagrant/machines/otus/virtualbox/box_meta
Lession15/.vagrant/machines/otus/virtualbox/id
Lession15/.vagrant/machines/otus/virtualbox/private_key
Lession15/.vagrant/machines/otus/virtualbox/synced_folders
Lession15/.vagrant/machines/otus/virtualbox/action_provision
Lession15/.vagrant/machines/otus/virtualbox/action_set_name
Lession15/.vagrant/machines/otus/virtualbox/box_meta
Lession15/.vagrant/machines/otus/virtualbox/id
Lession15/.vagrant/machines/otus/virtualbox/private_key
Lession15/.vagrant/machines/otus/virtualbox/synced_folders
Lession15/.vagrant/machines/otus/virtualbox/action_provision
Lession15/.vagrant/machines/otus/virtualbox/action_set_name
Lession15/.vagrant/machines/otus/virtualbox/id
Lession15/.vagrant/machines/otus/virtualbox/private_key
Lession15/.vagrant/machines/otus/virtualbox/action_provision
Lession15/.vagrant/machines/otus/virtualbox/action_set_name
Lession15/.vagrant/machines/otus/virtualbox/id
Lession15/.vagrant/machines/otus/virtualbox/private_key
Lession15/.vagrant/machines/otus/virtualbox/action_provision
Lession15/.vagrant/machines/otus/virtualbox/action_set_name
Lession15/.vagrant/machines/otus/virtualbox/box_meta
Lession15/.vagrant/machines/otus/virtualbox/creator_uid
Lession15/.vagrant/machines/otus/virtualbox/id
Lession15/.vagrant/machines/otus/virtualbox/index_uuid
Lession15/.vagrant/machines/otus/virtualbox/private_key
Lession15/.vagrant/machines/otus/virtualbox/synced_folders
Lession15/.vagrant/machines/otus/virtualbox/action_provision
Lession15/.vagrant/machines/otus/virtualbox/action_set_name
Lession15/.vagrant/machines/otus/virtualbox/box_meta
Lession15/.vagrant/machines/otus/virtualbox/id
Lession15/.vagrant/machines/otus/virtualbox/index_uuid
Lession15/.vagrant/machines/otus/virtualbox/private_key
Lession15/.vagrant/machines/otus/virtualbox/synced_folders
Lession15/.vagrant/machines/otus/virtualbox/vagrant_cwd
